* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cdcdcd;
}

.header {
  line-height: 60px;
  background: #333;
}

.header-content {
  width: 600px;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
}

.header-input {
  outline: none;
  width: 360px;
  margin-top: 15px;
  line-height: 24px;
  border-radius: 5px;
  float: right;
  padding: 0 10px;
}

.undo-list,
.complete-list {
  width: 600px;
  margin: 0 auto;
}

.undo-list-title,
.complete-list-title {
  margin: 10px 0;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}

.undo-list-count,
.complete-list-count {
  float: right;
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  background: #e6e6e6;
  border-radius: 50%;
}

.undo-list-content,
.complete-list-content {
  list-style-type: none;
}

.undo-list-item,
.complete-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-left: 3px solid #629a9c;
  text-indent: 10px;
  border-radius: 3px;
}
.undo-list-item > div,
.complete-list-item > div {
  display: flex;
  align-items: center;
}

.undo-list-delete,
.complete-list-delete {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #e6e6ea;
  text-indent: 0;
  border-radius: 50%;
  cursor: pointer;
}

.undo-list-item-input,
.complete-list-item-input {
  width: 300px;
  line-height: 22px;
  font-size: 14px;
  text-indent: 10px;
  outline: none;
}

.undo-list-item-checkbox,
.complete-list-item-checkbox {
  width: 16px;
  height: 16px;
}

.complete-list-item {
  opacity: .6;
}
